* {
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Consolas, sans-serif;
}

.remark-slide-number {
  display: none;
}

.remark-slide-content h1 {
  font-size: 40px;
}

.remark-slide-content h2 {
  font-size: 32px;
}
.remark-slide-content h1,
.remark-slide-content h2 {
  margin: .1em 0;
}

.remark-inline-code {
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  font-family: 'Input Mono', Consolas, monospace;
}
.hljs.remark-code {
  font-family: 'Input Mono', Consolas, monospace;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}

.remark-code-line {
  line-height: 1.5;
}

.smaller .remark-code {
  font-size: 0.8em;
}
.smallest .remark-code {
  font-size: 0.6em;
}

a {
  color: #000;
}

/* Slide styling */
.image img {
width: 300px;
}
.remark-slide-content {
  padding: 1em;
}
.inverse {
  background: #000;
  color: #eee;
  text-shadow: 0 0 20px #444;
}

.inverse.remark-slide-content h1 {
  font-size: 60px;
}
.awesome.remark-slide-content h1 {
  font-size: 90px;
  color: red;
  text-shadow: 5px 5px 0 #ffd217, 10px 10px 0 #5ac7ff, 15px 15px 0 #ffd217, 20px 20px 0 #5ac7ff;
}

.left-column, .right-column {
  width: 47%;
  float: left;
}

.left-column {
  margin-right: 20px;
}
